* {
    font-family: 'Inter', sans-serif;
    margin: 0px;
}

#menu-inicial {
    background-color: #303030;
    color: #FFF;
}

#titulo-menuinicial {
    font-size: 60px;
    margin: 0px 0px 0px 62px;
    padding-top: 206px;
    /*
    margin-bottom: 0px;
    margin-left: 62px;*/
}

#texto-menuinicial {
    font-size: 20px;
    margin-left: 62px;
    padding-bottom: 149px;
}

#menu-informativo {
    background-color: hsl(0, 0%, 98%);
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 0px 0px 66px 171px;
}

#informacao-menuinformativo {
    /*margin: cima direita baixo esquerda*/
    margin-top: 96px;
}

#titulo-menuinformativo {
    font-size: 40px;
}

#texto-menuinformativo {
    font-size: 20px;
}

#teste {
    background-color: yellow;
}

#imagem {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    align-items: center;
}

#texto-imagem {
    padding-left: 77px;
}

#titulo-texto-imagem {
    font-size: 36px;
}

#texto-texto-imagem {
    font-size: 24px;
    margin-top: 20px;
}

#imagem-imagem {
    margin: 70px 0px 70px 0px;
}

#formulario {
    background-color: #303030;
    text-align: center;
}

#titulo-formulario {
    font-size: 32px;
    color: #fff;
    padding: 87px 0px 30px 0px;
}

input {
    border-radius: 10px;
    background-color: #FFF;
    border: 0px;
    width: 508px;
    height: 72px;
    margin: 17px;
    font-size: 20px;
    padding-left: 30px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

button {
    background-color: #C07212;
    border: 0px;
    border-radius: 10px;
    width: 286px;
    height: 74px;
    color: #fff;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin: 50px 0px 100px 0px;
}

button:hover {
    background-color: #c98027;
    color: #FFF;
    transform: translateY(-7px);
    transition-duration: 0.5s;
    box-shadow: 0px 10px 15px #9f5e0e;
}